l2j-server-datapack/src/main/resources/data/xsd/NpcStringLocalisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ns" type="NpcStringDefinition" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NpcStringDefinition">
		<xs:attribute name="id" type="xs:int" use="optional" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="text" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="255" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>